/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar{
  background-color: #fff !important;
}

.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar .nav-item a{
  font-size: 1.2rem;
  text-transform: capitalize;
}
.navbar .nav-item-drop a{
  font-size: 1.2rem;
  text-transform: capitalize;
}
.navbar .nav-item a.active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #3498db !important;
}
.brand-name{
  color: #0099ff
}
.roundV{
  border-radius: 40px;
}
.head{
  min-height: 70vh;
}
.butt{
  width: 125px;
}
.home-main-div h2{
  font-size: larger;
}